
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/POSO/images/poso.png');
    background-size: contain; /* Adjusts image size to fit nicely */
    background-position: center; /* Centers the background */
    background-repeat: no-repeat; /* Prevents image tiling */
    background-attachment: fixed; /* Keeps background fixed on scroll */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto; /* Allows scrolling */
}

.ticket-container {
    width: 100%;
    max-width: 450px;
    margin: 10px auto;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background for contrast */
    overflow-y: auto;
    height: 600px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0c1ddd;
    height: 75px;
    box-shadow: 0 4px 8px -2px rgb(80, 79, 79);
    padding: 10px;
}

.logo {
    width: 50px;
    height: auto;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.city {
    font-size: 12px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.gray {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    background-color: #d2d1d1;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.ticket-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ticket-label {
    font-size: 14px;
    font-weight: bold;
}
.ticket-number {
    font-size: 14px;
    font-weight: bold;
    color: red;
}


.section {
    margin-bottom: 20px;
    padding: 15px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #a0d4fa;
    background-color: #eef6fa;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



/* Center content for mobile */
@media (max-width: 720px) {
    body {
        padding: 0;
    }
    
    .ticket-container {
        padding: 10px;
        width: 90%;
        max-width: 100%;
    }
}
